.pt-ref-cif-form-card {
  margin: 0 0 24px 0;

  .form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .pt-section {
      width: 100%;
      .pt-field {
        .radio-field {
          // height: 3.375rem;
          width: 50%;
          //   text-align: center;
          background: #f6f7fb;
          border: 1px solid #cbd6ff;
          box-sizing: border-box;
          border-radius: 4px;
          //   padding: 2;
          span {
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            font-family: Open Sans;
            // font-size: 1.15rem;
            text-align: center;
            line-height: 25px;
            color: #696a91;
          }
        }
        .radio-field.active {
          span {
            color: white;
          }
          background: #354081;
          box-shadow: -2px 0px 6px rgba(53, 64, 129, 0.25);
          border-radius: 4px;
        }
      }
    }
    .ref-cif-section {
      display: flex;
      width: 50%;
      .ref-section {
        width: 100%;
        .ref-field {
          width: 90%;
        }
      }
      .cif-section {
        width: 100%;
        .cif-field {
          //   width: 90%;
        }
      }
    }
  }
}
