.convert-to-customer-modal {
  .ant-modal-content {
    padding: 10px 16px 30px 16px;
  }
    .modal-header {
      display: flex;
      .header-icon {
        margin: 3px 25px 0 0;
        color: #354081;
        font-size: 2rem;
      }
    }
    .convert-modal-body {
      display: flex;
      justify-content: space-between;
      .submit-btn {
        background: #354081;
        border-radius: 8px;
        font-family: Open Sans;
        font-size: 1rem;
        color: #ffffff;
        opacity: 0.9;
      }
      :hover {
        opacity: 1;
      }
    }
    .map-modal-body {
      .text-value {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
        color: #696A91;
      }
      .input-label {
        font-size: 1rem;
        color: #696A91;
        margin-top: 0.3rem;
      }
      .client-name {
        width: 50%;
      }
      .interaction-filter-dropdown,
      .ant-select-selector {
        background-color: #f6f7fb;
        border: 1px solid #cbd6ff;
        box-sizing: border-box;
        border-radius: 4px;
        // height: fit-content;
        input {
          background-color: #f6f7fb;
        }
      }
      .selected-customer {
        margin: 1rem 0 1rem 0;
      }
    }
    .convert-modal-footer {
      position: absolute;
      right: 3%;
      .text-only-btn {
        margin: 0 10px 0 0;
        font-family: Open Sans;
        font-size: 1rem;
        text-align: center;
        color: #354081;
        opacity: 0.9;
      }
      .submit-btn {
        background: #354081;
        border-radius: 8px;
        font-family: Open Sans;
        font-size: 1rem;
        text-align: center;
        color: #ffffff;
        opacity: 0.9;
      }
      :hover {
        opacity: 1;
      }
    }
}