.added-brder{
  border: 1px solid;
  width: 100%;
}
.added-r{
  border: 1px solid;
  width: 40rem;
  text-align: left;
  line-height: 22px;
  font-size: 15px;
  font-weight: 450;
}
.added-dash-header{
  border-bottom: 1.5px solid black;
  padding: 100px;
  padding-bottom: 0.1px;
 
}
.txt-ctr{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}
.added-dash{
  border-bottom: 1px solid black;
  padding: 100px;
  padding-bottom: 0.1px;
}
.added-dash-small{
  border-bottom: 1px solid black;
  padding: 15px;
  padding-bottom: 0.1px;
}
.added-dash-medium{
  border-bottom: 1px solid black;
  padding: 50px;
  padding-bottom: 0.1px;
}
.styled-positn{
  text-align: justify;
  padding: 10rem;
}
.mrgn-update{
  margin-bottom: 30px;
}
.mrgn-update-para{
  margin-bottom: 20px;
  font-size: 20px;
}
.txt-rt{
  position: relative;
  left: 45rem
}
.styled-space{
  height: 40px;
}
.styled-heading{
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
}
.added-mrgn{
  padding-left: 5rem;
  padding-right: 5rem;
}
.added-mrgn-para{
  padding-left: 7rem;
  padding-right: 5rem;

}
.added-pding{
  padding-top: 8rem;
}
.added-btm-space{
  padding-bottom: 5rem;
}
.added-btm{
  padding-bottom: 2rem;
}
.lft-aln{
  text-align: right;
}
.rt-aln-sig{
  padding-right: 7rem;
  
}