.prospect-profile-company-details-form-card {
	// margin: 0 0 24px 0;
	// padding: 0 24px;
	.ant-card-body {
		.form-container {
			.profile-image-upload-section {
				// .field {
				.ant-upload {
					width: 100%;
					height: 100% !important;
					border-radius: 15px;
					// padding: 12px 0;
				}
				.user-circle {
					margin: 0 0 20px 0;
					height: 98px;
					position: static;
					color: #939dd4;
				}
				//     .text {
				//       position: relative;
				//     }
				//   }
				// }
			}
			.field {
				width: 100%;
				.gender-field {
					width: 33.33%;
					text-align: center;
				}
			}
		}
	}
}
