$gray-color: #5e5d5d !default;

@media print {
	body {
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
	}
	// @page {
	// 	size: 400mm 590mm !important;
	// }
}

@mixin commonInputCust {
	color: $gray-color;
	padding: 0 0 0 5px;
	width: 100%;
}
.main-page {
	margin: 30px;
	border: 10px solid $gray-color;
	border-style: double;
	.main-page-next {
		border: 2px solid $gray-color;
		padding: 0 0 0 5px;
	}
}
.olpadding-head-1 {
	padding: 0px 20px;
	list-style-type: none;
	.olpadding-head-2 {
		padding: 0px 20px;
		list-style-type: none;
	}
}
.olpadding-head-3 {
	padding: 0px 50px;
	list-style-type: lower-alpha;
	.olpadding-head-4 {
		padding: 0px 20px;
		list-style-type: lower-roman;
	}
}
.page-border {
	border: 2px solid $gray-color;
}

.head-1 {
	@include commonInputCust();
	font-weight: bold;
	font-size: 10px;
}
.head-2 {
	@include commonInputCust();
	font-size: 30px;
	font-weight: 500;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.head-3 {
	@include commonInputCust();
	font-size: 15px;
	font-weight: 600;
}

.head4 {
	@include commonInputCust();
	font-size: 18px;
	font-weight: 500;
}
.head5 {
	font-size: 16px;
	font-weight: 500;
	color: $gray-color;
}

.page-border-next {
	border-right: 3px solid $gray-color;
	min-height: 70px;
}
.line-Bottom {
	padding-right: 300px;
	border-bottom: 2px solid black;
}

.t-head1 {
	width: 10%;
	height: 20px;
	border: 1px solid $gray-color;
}

.t-head2 {
	width: 40%;
	height: 20px;
	border: 2px solid $gray-color;
}
#customer-table {
	border-collapse: collapse;
	width: 100%;
}

#customer-table td,
#customer-table th {
	border: 2px solid $gray-color;
}
