@import './../../../src/styles/inc/bootstrap-variables.scss';
.interactionViewPageHeader {
	margin: 0px 15px 15px 15px;
}
.interactionCircleImg {
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

.interactionViewCardDetail {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
	// font-size: 25px;
}
// .ant-card-head-title{
//   font-size: 25px;
// }

.interactionInitialsCircleImg {
	width: 150px;
	height: 150px;
	background: #f0f2fb;
	border-radius: 50%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 45px;
	color: rgb(207, 73, 73);
}

.addInteraction-radio-field {
	height: 40px;
	width: 134px;
	//   text-align: center;
	background: #f6f7fb;
	border: 1px solid #cbd6ff;
	box-sizing: border-box;
	border-radius: 4px;
	//   padding: 2;
	span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family: Open Sans;
		font-size: 18px;
		text-align: center;
		line-height: 25px;
		color: #696a91;
	}
}
.addInteraction-radio-field.active {
	span {
		color: white;
	}
	background: #354081;
	box-shadow: -2px 0px 6px rgba(53, 64, 129, 0.25);
	border-radius: 4px;
}

.interactionViewTopBarIcons {
	color: white;
	font-size: 1.3em;
	margin-left: 15px;
	margin-top: 0.5em !important;
}

.interactionViewTopBarIcons:hover {
	cursor: pointer;
}

.interactionViewPageHeader {
	margin: 0px 15px 15px 15px;
}

.interactionViewBodyContent {
	background-color: #f0f2fb;
	margin: 15px;
}

//Pagehead
.page-header .header-img {
	border-radius: 50%;
	width: 85%;
}

.page-header .header-opp-icons {
	width: 35px;
	height: 35px;
	background: #626a9a;
	display: flex;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
}

//Details
.prospect-details .ant-col {
	padding: 10px;
	margin-bottom: 10px;
}

// modal
.details-tab .ant-tabs-nav-wrap .ant-tabs-tab-active .ant-tabs-tab-btn,
.details-tab .ant-tabs-nav-wrap .ant-tabs-tab:hover {
	color: #354081;
}

.details-tab .ant-tabs-nav-wrap .ant-tabs-ink-bar {
	background-color: #354081;
}

.occurence-modal .ant-modal-content {
	border-radius: 16px;
}

.occurence-modal .ant-modal-content .ant-modal-close {
	display: none !important;
}
.occurence-modal .ant-modal-content .ant-radio-button-wrapper:hover {
	color: #354081;
}

.occurence-modal .lead-type-rb {
	padding: 0 20px;
	border-radius: 5px;
}

.occurence-modal .lead-type-rb.ant-radio-button-wrapper-checked {
	border-color: #354081;
	border-right-color: #354081;
	border-left-color: #354081;
}
.occurence-modal .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
	background-color: #fff;
}

.occurence-modal .ant-form-item-label label {
	color: #696a91;
}

.occurence-modal
	.ant-form-item-label
	> label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
	content: '';
}

// Timeline

.opportunities-timeline .ant-timeline .ant-timeline-item-content {
	width: unset !important;
}

.opportunities-timeline .ant-timeline .ant-timeline-item-content {
	width: unset !important;
}

//occurences
.occurences {
	.ant-table-tbody > tr > td:first-child > * {
		color: #000;
		font-size: 16px;
		font-weight: 600;
	}
	.ant-table-tbody > tr > td > * {
		color: #696a91;
	}
}

// .recurrence-modal,
// .occurence-modal {
//   .ant-btn-primary {
//     background-color: #354081;
//   }
// }

@media screen and (min-width: $screen-xl) {
	.interactionViewCardDetails {
		.ant-card-head-title {
			font-size: 28px;
		}
	}
}
