@import './../../../src/styles/inc/bootstrap-variables.scss';

.opportunityViewPageHeader {
	margin: 0px 15px 15px 15px;
}
.opportunityViewBodyContent {
	background-color: #f0f2fb;
	margin: 15px;
}
.opportunityCircleImg {
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

.opportunityViewTopBarIcons {
	color: white;
	margin-left: 15px;
}

.opportunityViewTopBarIcons:hover {
	cursor: pointer;
}

.opportuntiyViewHeaderDetailIcon {
	font-size: 0.875em;
	color: white;
	margin-right: 5px;
}

.opportunityInitialsCircleImg {
	width: 90%;
	height: 100px;
	background: #f0f2fb;
	border-radius: 50%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: rgb(207, 73, 73);
}

.opportunityHeaderDetailText {
	font-weight: 400;
	color: #f0f2fb;
	font-size: 16px;
}

.opportunityViewCardDetail {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
}
.opportunityName {
	padding: 1px 0px;
	margin-bottom: 0px;
	color: white;
	font-weight: 800;
	font-size: 18px;
}

.opportunityTag {
	margin-left: 15px;
	padding: 1px 0px;
	margin-bottom: 0px;
	background-color: #d9dfff;
	font-size: 14px;
	font-weight: 400;
	width: fit-content;
	display: flex;
	justify-content: center;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 2rem;
}
.opportunityDetailText {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 0px;
}
.opportunityDescriptionText {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 0px;
}
.opportunityViewCardDetail {
	.opportunityAttachmentTable {
		.ant-table-cell {
			font-size: 16px;
		}
	}
}

.opportunityViewBodyDetailIcon {
	font-size: 0.875em;
}

.opportunityViewFlagIcon {
	width: 15px;
	height: 15px;
	margin-right: 5px;
}

.horizontalTimelineDetailText {
	font-weight: 400;
	font-size: 16px;
}

.horizontalTimelineDescriptionText {
	font-size: 16px;
	font-weight: 400;
}
.opportunityViewCardDetail .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
	font-size: 14px;
}

.opportunityViewCardDetail {
	/* width */
	.row-scroll::-webkit-scrollbar {
		// height: 2px;
		height: 0px;
	}
	/* Track */
	.row-scroll::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	/* Handle */
	.row-scroll::-webkit-scrollbar-thumb {
		background: rgba(0, 0, 0, 0.15);
	}

	// /* Handle on hover */
	.row-scroll::-webkit-scrollbar-thumb:hover {
		background: rgba(0, 0, 0, 0.25);
	}
}

.row-scroll {
	scroll-behavior: smooth;
	flex-wrap: nowrap;
	overflow-x: auto;
}

.row-scroll .stage-column {
	padding: 0px 5px;

	flex: 0 0 30%;
}

.row-scroll .stage-icon {
	font-size: 0.875em;
	vertical-align: middle;
}

.row-scroll .stage-link {
	color: black;
	// padding: 10px;
	padding: 8px;
	margin-right: '50px';
}

.row-scroll .stage-flex {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: '40px';
}

.stage-details-flex {
	display: flex;
	// justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	padding: 0px 5px;
}

.update-stage-modal .ant-modal-content {
	border-radius: 16px;
}

.update-stage-modal .attached-files {
	padding: 10px;
	background-color: #f6f7fb;
	border-radius: 12px;
	max-height: 175px;
	overflow-y: auto;
}

.update-stage-modal .ant-upload-list {
	display: none;
}

.details-tab .ant-tabs-nav-wrap .ant-tabs-tab-active .ant-tabs-tab-btn,
.details-tab .ant-tabs-nav-wrap .ant-tabs-tab:hover {
	color: #354081;
}

.details-tab .ant-tabs-nav-wrap .ant-tabs-ink-bar {
	background-color: #354081;
}

.update-stage-modal .ant-modal-content {
	border-radius: 16px;
}

.update-stage-modal .ant-modal-content .ant-modal-close {
	display: none !important;
}
// .update-stage-modal .ant-modal-content .ant-radio-button-wrapper:hover {
//   color: #354081;
// }

.update-stage-modal .lead-type-rb {
	padding: 0 20px;
	border-radius: 5px;
}

.update-stage-modal .lead-type-rb.ant-radio-button-wrapper-checked {
	border-color: #354081;
	border-right-color: #354081;
	border-left-color: #354081;
	background-color: #354081;
}

.update-stage-modal
	.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
	background-color: #fff;
}

.update-stage-modal .ant-form-item-label label {
	color: #696a91;
}

.update-stage-modal .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
	color: #fff;
}

.opportunities-timeline .ant-timeline .ant-timeline-item-content {
	width: unset !important;
}

.update-stage-modal {
	.quantity::-webkit-inner-spin-button,
	.quantity::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.verticalTimelineDetailText {
	font-size: 16px;
}

.opportunities-timeline {
	.detailText {
		font-size: 16px;
		font-weight: 400;
	}
	.descriptionText {
		font-size: 14px;
		font-weight: 600;
	}
}
@media screen and (min-width: $screen-xl) {
	.opportunityInitialsCircleImg {
		width: 75%;
		height: 150px;
		font-size: 48px;
	}

	.opportunityViewCardDetail {
		.ant-card-head-title {
			font-size: 28px;
		}
	}
	.opportunityViewCardDetail .ant-tabs-nav .ant-tabs-tab,
	.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
		font-size: 18.72px;
		font-weight: 600;
	}
	.opportunityViewHeaderName {
		font-weight: 800;
		font-size: 28px;
	}
	.opportunityDescriptionText {
		font-weight: 400;
		font-size: 18px;
		// border-bottom: 1px solid black ;
		// padding-bottom: 15px;
	}

	.opportunityHeaderDetailText {
		font-weight: 400;
		font-size: 18px;
	}

	.opportunities-timeline {
		.detailText {
			font-size: 20px;
			font-weight: 600;
			color: black;
		}
		.descriptionText {
			font-size: 18px;
			font-weight: 400;
			color: #696a91;
		}
	}

	.opportunityDetailText {
		font-size: 20px;
	}

	.verticalTimelineDetailText {
		font-size: 18px;
	}

	.opportunityViewTopBarIcons {
		// font-size: 1.33em;
		font-size: 1.9em;
		margin: 0px 12px;
	}

	.opportuntiyViewHeaderDetailIcon {
		color: white;
		font-size: 1.33em;
		margin-right: 5px;
	}
	.opportunityViewCardDetail {
		.opportunityAttachmentTable {
			.ant-table-cell {
				font-size: 20px;
			}
		}
	}
	.row-scroll .stage-icon {
		font-size: 1.33em;
		vertical-align: middle;
	}

	.horizontalTimelineDetailText {
		font-size: 20px;
	}

	.horizontalTimelineDescriptionText {
		font-size: 18px;
	}

	.opportunityViewBodyDetailIcon {
		font-size: 1.33em;
	}

	.opportunityViewFlagIcon {
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}

	.opportunityTag {
		margin-left: 15px;
		padding: 1px 0px;
		margin-bottom: 0px;
		background-color: #d9dfff;
		font-size: 18px;
		font-weight: 400;
		width: fit-content;
		display: flex;
		justify-content: center;
		padding-top: 1px;
		padding-bottom: 1px;
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 2rem;
	}
}
