.step-style {
  margin: 0px 30px;
  padding: 0px 40px;
}
.steps-container {
  width: 100%;
  overflow-x: scroll;
}
// .ant-steps-navigation .ant-steps-item.ant-steps-item-active {
//   width: auto;
// }
